<div class="col-lg-3 sidebar sticky-top">
    <nav class="wrapper bg-light border-right" style="margin-left: 20px; padding-right: 20px; height: 100%; position: absolute;">

        <div class="sidebar-header">
            <h3>Enquire Menu</h3>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="" style="color:#0058AB;">First Year Questions</a>
            </li>
        </ul>


    </nav>
</div>