<div class="col-lg-3 sidebar menu" style="width: 250px;">
    <!-- Apparently if this also had the sticky top class the links won't work in the top navbar-->
    <!-- Make sure to have the width here or else the cards will go underneath the sidebar-->
    <nav class="wrapper bg-light border-right" style="
      margin-left: 0px;
      padding-right: 20px;
      height: 90%;
      
      position: fixed;
      width: 250px;
      overflow-y: scroll;
    ">
        <div class="sidebar-header">
            <h3 style="margin-bottom: 5px; text-align: center;">Menu</h3>
            <hr />
            <!--
                 <p style = "font-size: 10px; font-weight: 50px;">_______________________________</p>
                 hr looks better but left this line in the comments
            -->
        </div>
        <ul class="nav flex-column" style="margin-left: 20px;">
            <!-- <div class="dropdown"> -->
            <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="" style="color:#0058AB;">First Year courses</a> -->
            <!-- </li> -->
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                    APSC
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">

                    <a class="dropdown-item" href="">APSC 100</a>
                    <a class="dropdown-item" href="">APSC 111</a>
                    <a class="dropdown-item" href="">APSC 112</a>
                    <a class="dropdown-item" href="">APSC 114</a>
                    <a class="dropdown-item" href="">APSC 131</a>
                    <a class="dropdown-item" href="">APSC 132</a>
                    <a class="dropdown-item" href="">APSC 143</a>
                    <a class="dropdown-item" href="">APSC 151</a>
                    <a class="dropdown-item" href="">APSC 162</a> 
                    <a class="dropdown-item" href="">APSC 171</a>
                    <a class="dropdown-item" href="">APSC 172</a>
                    <a class="dropdown-item" href="">APSC 174</a>
                    <a class="dropdown-item" href="">APSC 182</a>
                    <a class="dropdown-item" href="">APSC 200</a>
                    <a class="dropdown-item" href="">APSC 221</a>
                    <a class="dropdown-item" href="">APSC 293</a>
                    
                </div>
            </div>

            <!-- </div> -->
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                CHEE
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">

                    <a class="dropdown-item" href="">CHEE 209</a>
                    <a class="dropdown-item" href="">CHEE 210</a>
                    <a class="dropdown-item" href="">CHEE 218</a>
                    <a class="dropdown-item" href="">CHEE 221</a>
                    <a class="dropdown-item" href="">CHEE 222</a>
                    <a class="dropdown-item" href="">CHEE 223</a>
                    <a class="dropdown-item" href="">CHEE 224</a>
                    <a class="dropdown-item" href="">CHEE 229</a>
                    <a class="dropdown-item" href="">CHEE 270</a>
                
                </div>
            </div>

            <div class="btn-group">

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                CIVL
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">CIVL 200</a>
                    <a class="dropdown-item" href="">CIVL 201</a>
                    <a class="dropdown-item" href="">CIVL 210</a>
                    <a class="dropdown-item" href="">CIVL 215</a>
                    <a class="dropdown-item" href="">CIVL 200</a>
                    <a class="dropdown-item" href="">CIVL 222</a>
                    <a class="dropdown-item" href="">CIVL 231</a>
                    <a class="dropdown-item" href="">CIVL 250</a>

                </div> 
            </div>

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                CMPE
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">CMPE 204</a>
                    <a class="dropdown-item" href="">CMPE 212</a>
                    <a class="dropdown-item" href="">CMPE 223</a>
                    <a class="dropdown-item" href="">CMPE 271</a>

                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                ELEC
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">ELEC 221</a>
                    <a class="dropdown-item" href="">ELEC 252</a>
                    <a class="dropdown-item" href="">ELEC 270</a>
                    <a class="dropdown-item" href="">ELEC 271</a>
                    <a class="dropdown-item" href="">ELEC 274</a>
                    <a class="dropdown-item" href="">ELEC 278</a>
                    <a class="dropdown-item" href="">ELEC 279</a>
                    <a class="dropdown-item" href="">ELEC 280</a>
                    <a class="dropdown-item" href="">ELEC 299</a>

                </div>
            </div>
            
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                ENCH
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">ENCH 211</a>
                    <a class="dropdown-item" href="">ENCH 212</a>
                    <a class="dropdown-item" href="">ENCH 213</a>
                    <a class="dropdown-item" href="">ENCH 222</a>
                    <a class="dropdown-item" href="">ENCH 245</a>

                </div>
            </div>
            
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                ENPH
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">ENPH 211</a>
                    <a class="dropdown-item" href="">ENPH 213</a>
                    <a class="dropdown-item" href="">ENPH 225</a>
                    <a class="dropdown-item" href="">ENPH 239</a>
                    <a class="dropdown-item" href="">ENPH 242</a>
                    <a class="dropdown-item" href="">ENPH 252</a>
                    <a class="dropdown-item" href="">ENPH 253</a>

                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                GEOE
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">GEOE 207</a>
                    <a class="dropdown-item" href="">GEOE 221</a>
                    <a class="dropdown-item" href="">GEOE 232</a>
                    <a class="dropdown-item" href="">GEOE 235</a>
                    <a class="dropdown-item" href="">GEOE 238</a>
                    <a class="dropdown-item" href="">GEOE 249</a>
                    <a class="dropdown-item" href="">GEOE 262</a>
                    <a class="dropdown-item" href="">GEOE 281</a>

                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                MECH
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">MECH 213</a>
                    <a class="dropdown-item" href="">MECH 217</a>
                    <a class="dropdown-item" href="">MECH 221</a>
                    <a class="dropdown-item" href="">MECH 228</a>
                    <a class="dropdown-item" href="">MECH 230</a>
                    <a class="dropdown-item" href="">MECH 241</a>
                    <a class="dropdown-item" href="">MECH 270</a>

                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                MINE
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">MINE 201</a>
                    <a class="dropdown-item" href="">MINE 202</a>
                    <a class="dropdown-item" href="">MINE 225</a>
                    <a class="dropdown-item" href="">MINE 267</a>
                    <a class="dropdown-item" href="">MINE 268</a>

                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                MNTC
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    
                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                MTHE
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                    style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                    <i class="fa fa-caret-down"></i>

                    <a class="dropdown-item" href="">MTHE 212</a>
                    <a class="dropdown-item" href="">MTHE 217</a>
                    <a class="dropdown-item" href="">MTHE 224</a>
                    <a class="dropdown-item" href="">MTHE 225</a>
                    <a class="dropdown-item" href="">MTHE 227</a>
                    <a class="dropdown-item" href="">MTHE 228</a>
                    <a class="dropdown-item" href="">MTHE 235</a>
                    <a class="dropdown-item" href="">MTHE 237</a>
                    <a class="dropdown-item" href="">MTHE 272</a>
                    <a class="dropdown-item" href="">MTHE 280</a>
                    <a class="dropdown-item" href="">MTHE 281</a>

                </div>
            </div>

            <br />
           
                <div class="sidebar-header">
                <h3 style="text-align: center;">Starred Courses</h3>
                <hr />
                </div>
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
                    MTHE
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2"
                        style="width: 200px; text-align: center; max-height: 300px; overflow-y: auto;">
                        <i class="fa fa-caret-down"></i>
    
                        <a class="dropdown-item" href="">MTHE 212</a>
                        <a class="dropdown-item" href="">MTHE 217</a>
                        <a class="dropdown-item" href="">MTHE 224</a>
                        <a class="dropdown-item" href="">MTHE 225</a>
                        <a class="dropdown-item" href="">MTHE 227</a>
                        <a class="dropdown-item" href="">MTHE 228</a>
                        <a class="dropdown-item" href="">MTHE 235</a>
                        <a class="dropdown-item" href="">MTHE 237</a>
                        <a class="dropdown-item" href="">MTHE 272</a>
                        <a class="dropdown-item" href="">MTHE 280</a>
                        <a class="dropdown-item" href="">MTHE 281</a>
    
                    </div>
                </div>
           
            
            
        </ul>
    </nav>
</div>