<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Wack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="row">
        <div class="col-lg-6 justify-content-center" >
            <h1>404 Error</h1>
    <img src="https://i.redd.it/zkq0xdfn52p11.jpg" alt="Wack"> 
        </div>
       
           
      
    
    </div>
    
</body>
</html>