<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquire Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {
                inlineMath: [["$","$"],["\\(","\\)"]]
              }
            });
          </script>
          <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
          </script>
</head>
<body style="overflow-x: hidden;">
    <%- include('partials/navbar.ejs')%>
    <div class="row">
 <div class="col-lg-2 bd-sidebar" style="background-color: cadetblue;"><h1>hello</h1></div>

    <div class="col-lg-5" style="margin-left: 10%; margin-top: 20px; margin-bottom: 20px;">
        <!-- Need to have an array of objects in here and a for loop-->
        <div class="card">
            <div class="card-header">
                <h1>Bro wtf is an eigen vector</h1>
            </div>
            <div class="card-body">
                <ul>
                    <li>Subject: APSC 174</li>
                    <li>User: NoobMaster69</li>
                    <li>Date: April 20th</li>
                </ul>
            </div>
        </div>
        

    </div>
    

    </div>
   
</body>
</html>