<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Question Preview</h1>
    <br>
    <h2><%=title%></h2>
    <p><%=body%></p>
    <p><%=tags%></p>

</body>
</html>