<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquire Question</title>
    <%- include('partials/mathjaxandbootstrap')%>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <!--
        Add 3 columns 2 being rather small and the middle being the largest one
        Find out how to store images to the database
        Create a screen to present profile and a way to edit it (possibly through another screen)
        Get the drop down menu in the navbar to work
    -->
   
        <div class="row">
            <%- include("partials/sidebar.ejs")%>
            <div class="content col-lg-6">
                <h1>Hello</h1>
            </div>
            
        </div>
    
</body>
</html>