<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enquire Question</title>
    <%- include('partials/mathjaxandbootstrap')%>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <!--
        Add 3 columns 2 being rather small and the middle being the largest one
        Find out how to store images to the database
        Create a screen to present profile and a way to edit it (possibly through another screen)
        Get the drop down menu in the navbar to work
    -->

    <div class="row">
      <%- include("partials/sidebar.ejs")%>
      <div class="content col-lg-6">
        <div class="card" style="margin-top: 20px;">
          <div class="card-header">
            <h1>Subject</h1>
          </div>

          <div class="card-body">
            <div class="card-title">
              <h1>Question Title</h1>
            </div>
            <p>Question Body With Mathjax and Stuff</p>
          </div>
          <div class="card-footer">
            <p>Information about the Question and the user here</p>
          </div>
        </div>
        <div class="card w-100" style="margin-top: 20px;">
          <div class="card-body">
            <p>Insert Reply Here</p>
            <br />
            <p style="text-align: right;"><a href="">Username Here</a></p>
          </div>
        </div>
        
          <div class="form-group" style="margin-top: 50px;">
            <label for="responsetextarea">Your Solution</label>
            <form action="/view-question" method="POST" name="reply">
                <textarea
              class="form-control"
              name="response"
              id="responsetextarea"
              cols="30"
              rows="5"
              style="resize: none;"
              placeholder="Post Your Reply Here"
            ></textarea>
            <button class="btn btn-success" style="position: absolute; right: 10px; margin-top: 10px;">Post Solution</button>
            </form>
            
            <div></div>
          </div>
        </div>
      
    </div>
  </body>
</html>
